.bubbles {
  .bubble-color-1 {
    fill: $rank1;
  }

  .bubble-color-2 {
    fill: $rank3;
  }

  .bubble-color-3 {
    fill: $rank5;
  }
}

.vertical-lines, .horizontal-lines {
  stroke: $grey;
}

rect {
  fill: $white;
}
