// =============================================================================
// COLOR PALETTE
// =============================================================================


// Main Colors
// -----------------------------------------------------------------------------
$rank1:          forestgreen;
$rank2:          forestgreen;
$rank3:          gold;
$rank4:          gold;
$rank5:          tomato;
$rank6:          tomato;
// -----------------------------------------------------------------------------


// Gray scale
// -----------------------------------------------------------------------------
$black:           rgb(0, 0, 0);
$grey:            darkgrey;
$white:           rgb(255, 255, 255);
// -----------------------------------------------------------------------------
