// =============================================================================
// COLOR PALETTE
// =============================================================================


// Main Colors
// -----------------------------------------------------------------------------
$rank1:          darkgreen;
$rank2:          forestgreen;
$rank3:          yellowgreen;
$rank4:          palegoldenrod;
$rank5:          gold;
$rank6:          orange;
$rank8:          salmon;
$rank7:          tomato;
$rank9:          orangered;
// -----------------------------------------------------------------------------

// Gray scale
// -----------------------------------------------------------------------------
$black:           black;
$grey:            darkgrey;
$white:           white;
// -----------------------------------------------------------------------------
